.custom-nav-logo {
    width: 60px;
    height: auto;
}

.custom-nav-button {
    color: #fff;
    border: transparent;
}

.custom-nav-button:hover {
    background-color: #fff;
    color: #000;
}

.custom-video {
    width: 800px;
}